In [80]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [81]:
#변수

In [82]:
a=7

In [83]:
"""변수는 단지 이름을 뿐이다.  
할당한다는 의미는 값을 복사하는 것이 아니라 데이터가 담긴 객체에
그냥 이름을 붙이는 것이다 """

'변수는 단지 이름을 뿐이다.  \n할당한다는 의미는 값을 복사하는 것이 아니라 데이터가 담긴 객체에\n그냥 이름을 붙이는 것이다 '

In [84]:
a

7

In [85]:
b=a

In [86]:
b

7

In [87]:
type(a)

int

In [88]:
type(58)

int

In [89]:
type(99.9)

float

In [90]:
type('abc')

str

In [91]:
#정수

In [92]:
#숫자는 리터럴 정수로 간주한다

In [93]:
5

5

In [94]:
0

0

In [95]:
123

123

In [96]:
+123

123

In [97]:
-123

-123

In [98]:
5+9

14

In [99]:
100-7

93

In [100]:
4-10

-6

In [101]:
5+9+3

17

In [102]:
4+3-2-1+6

10

In [103]:
5+9    +3

17

In [104]:
6*7

42

In [105]:
7*6

42

In [106]:
6*7*2*3

252

In [107]:
# /는 부도소수점을 포함한 결과가 출력된다.

In [108]:
# //는 부동소수점을 제외한 결과, 즉 정수가 출력된다.

In [109]:
9/5

1.8

In [110]:
9//5

1

In [111]:
5/0

ZeroDivisionError: division by zero

In [112]:
a=95

In [113]:
a=a-3

In [114]:
a

92

In [115]:
a=95

In [116]:
temp=a-3

In [117]:
a=temp

In [118]:
a

92

In [119]:
a=95

In [120]:
a=a-3

In [121]:
a

92

In [122]:
a=95

In [123]:
a-=3

In [124]:
a

92

In [125]:
a+=8

In [126]:
a

100

In [127]:
a*=2

In [128]:
a

200

In [129]:
a/=3

In [130]:
a

66.66666666666667

In [131]:
a=13

In [132]:
a//4

3

In [133]:
a

13

In [134]:
9%5

4

In [135]:
divmod(9,5)

(1, 4)

In [136]:
9//5

1

In [137]:
9%5

4

In [138]:
2+3*4

14

In [139]:
2+3*4

14

In [140]:
2+(3*4)

14

In [141]:
10

10

In [142]:
#2진수 10을 10진수로 출력해보자

In [143]:
0b10

2

In [144]:
0o10

8

In [145]:
0x10

16

In [146]:
int(True)

1

In [147]:
int(False)

0

In [148]:
int(98.6)

98

In [149]:
int(1.0e4)

10000

In [150]:
#텍스트 문자열을 정수로 변환하는 예제

In [151]:
int('99')

99

In [152]:
int('-23')

-23

In [153]:
int('+12')

12

In [154]:
int(12345)

12345

In [155]:
#int 함수에서 숫자가 아닌 다른 뭔가를 변환하면 다음 곽 같이 예외가 발생한다.

In [156]:
int('99 bottles of beer on the wall')

ValueError: invalid literal for int() with base 10: '99 bottles of beer on the wall'

In [157]:
#int ( )는 부동소수점수，혹은 숫자로 이루어진 문자열을 정수로 반환한다.

In [158]:
int('98.6')

ValueError: invalid literal for int() with base 10: '98.6'

In [159]:
True+2

3

In [160]:
False+5.0

5.0

In [161]:
googol = 10**100

In [162]:
googol

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [163]:
googol*googol

100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [164]:
float(True)

1.0

In [165]:
float(False)

0.0

In [166]:
float( '98.6')

98.6

In [167]:
float( '-1.5')

-1.5

In [168]:
float('1.0e4')

10000.0

In [169]:
'snap'

'snap'

In [170]:
"Crackle"

'Crackle'

In [171]:
"'Nay,' said the naysayer."

"'Nay,' said the naysayer."

In [172]:
'The rare double quote in captivity:".'

'The rare double quote in captivity:".'

In [173]:
'A "two by four" is actually 1 1/2" x 3 1/2".'

'A "two by four" is actually 1 1/2" x 3 1/2".'

In [174]:
"'There's the man that shot my paw!1 cried the limping hound."

"'There's the man that shot my paw!1 cried the limping hound."

In [175]:
'''Boom!'''

'Boom!'

In [176]:
"""Eek!"""

'Eek!'

In [177]:
poem='''All that doth flow we cannot liquid name 
Or else would fire and water be the same; 
But that is liquid which is moist and wet 
Fire that proroperty can never get.
Then 'tis not cold that doth the fire put out
But 'tis the wet that makes it die, no doubt.'''

In [178]:
poem[:13]

'All that doth'

In [179]:
len(poem)

255

In [180]:
poem.startswith('All')

True

In [181]:
poem.endswith('That\s all, folks!')

False

In [182]:
word='the'

In [183]:
poem.find(word)

74

In [184]:
poem.rfind(word)

219

In [185]:
poem.count(word)

3

In [186]:
poem.isalnum()

False

In [187]:
setup='a duck goes into a bar...'

In [188]:
#양끝에서. 시원스를 삭제한다.

In [189]:
setup.strip('.')

'a duck goes into a bar'

In [190]:
#모든 단어의 첫 글자를 대문자로 만들어보자.

In [191]:
setup.title()

'A Duck Goes Into A Bar...'

In [192]:
setup.upper()

'A DUCK GOES INTO A BAR...'

In [193]:
setup.lower()

'a duck goes into a bar...'

In [194]:
setup.swapcase()

'A DUCK GOES INTO A BAR...'

In [195]:
setup.center(30)

'  a duck goes into a bar...   '

In [196]:
setup.ljust(30)

'a duck goes into a bar...     '

In [197]:
setup.rjust(30)

'     a duck goes into a bar...'

In [198]:
#대체하기 : replace 문자열 바꾼다.

In [199]:
setup.replace('duck','marmoset')

'a marmoset goes into a bar...'

In [200]:
setup.replace('a', 'a famous ',100)

'a famous  duck goes into a famous  ba famous r...'